@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&family=Hubballi&family=Nunito&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#1DB954,#ffffff);
  }
 
  /* Page 1 */
  h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: "Hubballi", sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }

  footer {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Hubballi", sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 270px;
  }

.button {
    color: rgb(255, 255, 255);
    background-color: rgba(58, 57, 57, 0.644);
    box-shadow: rgba(18, 99, 42, 0.678) 0 15px 30px -5px;
    box-sizing: border-box;
    font-size: 35px;
    font-family: "Hubballi", sans-serif;
    text-align: center;
    text-decoration: none;
    border: #ffffff;
    border-radius: 100px;
    padding-top: 25px;
    display: inline-block;
    height:100px; 
    width:400px; 
    margin: -10px -50px; 
    top:40%; 
    left:35%;
    justify-content: center;
}

.button-container {
    margin: auto;
    text-align: center;
    padding-top: 90px;
}

/* Page 2 */
h2 {
    color: rgb(255, 255, 255);
    font-size: 75px;
    font-family: "Hubballi", sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  h3 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Hubballi", sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  h4 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Hubballi", sans-serif;
    margin: auto;
    padding-bottom: 15px;
  }

  .border {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }

  .border2 {
    border-radius: 25px;
    border: 2px solid #032c09;
    width: 100%;
    height: 100%;
  }

  .info {
    font-family: "Hubballi", sans-serif;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 200px;
    text-align: justify;
  }

  img.prof-pic {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  img.pic {
    float: right;
    padding-left: 50px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 70%;
    max-height: 70%;
  }




  /* .user-block {
    padding-top: 30px;
    padding-bottom: 200px;
    width: 100%;
  }

  .user-profile-right {
    font-family: "Hubballi", sans-serif;
    float: right;
    font-size: 25px;
    padding-right: 70px;
  }

  .user-profile-left {
    font-family: "Hubballi", sans-serif;
    float: left;
    font-size: 25px;
    padding-left: 20px;
  } */